form table {
    border: 2px dotted green;
}

form table {
    border: 1px solid #000000;
}

form table {
    border-right: 1px groove rgb(100, 100, 100);
    border-left: 1px groove rgb(200, 200, 200);
}

* {
    margin: 0px;
    padding: 0px;
}
:root{
    --margin23: 20px 0px 20px 10px;
}

#wrapper {
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    padding: 20px;
}
#header {
    min-height: 150px;
    background-color: green;
}
#navigation {
    min-height: 300px;
    width: 200px;
    background-color: blue;
    margin-top: 2%;
    display: inline-block;
    vertical-align: top;
}
#main_content {
    min-height: 400px;
    width: 725px;
    background-color: red;
    display: inline-block;
    margin: 2% 0% 2% 2%;
}
#main_content .subcontents {
    display: inline-block;
    margin: 20px 0px 20px 20px;
}
#main_content .subcontents:nth-child(2) {
    display: inline-block;
    margin: var(--margin23);
}
#main_content .subcontents:nth-child(3) {
    display: inline-block;
    margin: var(--margin23);
}
.subcontents {
    min-height: 200px;
    width: 210px;
    background-color: yellow;
}
#advertisement {
    min-height: 120px;
    width: 660px;
    margin-left: 20px;
    background-color: purple;
}